#in{
  max-height: 600px;
}

#out{
  background: #f5f5f0;
  min-height: 700px;
}

#in{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: -15px;
}

h1{
  font-size: 30px;
  font-family: times;
}

.grid{
  background: black; 
  height: 12px; 
  width: 12px;
  border: 1px solid #262626; 
  padding-bottom: 0px; 
  padding-top: 0px;
  margin-top: 0px;
}

.gridy{
  position: absolute;
  min-height: 400px;
  min-width: 800px;
  left: 50%;
  padding-left: 25px;
  transform: translate(-50%, 0%); 
}

.gB{
  background: #003d4d;
  height: 355px;
  width: 715px;
  position: absolute;
  transform: translate(-50%,0);
  left: 50%;
  border-radius: 5px;
  margin-top: 12px;
  margin-left: 3px;
}

.gB2{
  background: #003d4d;
  height: 190px;
  width: 240px;
  position: absolute;
  transform: translate(-50%,400px);
  left: 50%;
  border-radius: 5px;
  margin-left: -3px;
}

.gB3{
  position: absolute;
  color: white;
  transform: translate(-50%,392px);
  left:50%; 
  text-align:center;
  margin-left: -3px;  
}

.one,.two,.three,.four,.five, .two2{
  background:#e6faff;
  border-radius: 2px;
  width: 220px;
  margin-bottom: -13px;
  font-size: 18px;
  font-family: cursive;
  color: #404040;
}

.two:hover,.two2:hover,.three:hover,.four:hover,.five:hover{
  cursor: pointer;
  color: silver
}

.words2{
  display: none;
}

.six{
  margin-top: 10px;
}

.six p{
  background:#e6faff;
  border-radius: 2px;
  width: 220px;
  margin-bottom: -13px;
  font-size: 15px;
  font-family: cursive;
  color: #404040;
}

.a1:hover{
  cursor: pointer;
  color: silver;
}

.two2{
  display:none;
}
